* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
}

#canvas1 {
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 730px;
}